
*{
    background-color: black;
}


.header {
    
     color: white;
     text-align: center;

}


.nav-menu{
     margin-top: 50px;
     text-align: center;
     
    
}



.img-header {
    display: flex;
    justify-content: center;
    align-items: center;

}


.item-nav-menu{
    text-decoration: none;
    color: white;
    margin-left: 20px ;
    margin-right: 20px;
}