

*{
    background-color: white;
    Color: black;
    font-family: 'Source Code Pro', monospace;

}


.header {
    
  border: black solid 2px;
  border-radius: 20px;
     text-align: center;
     font-size: 0.9em;

}


.nav-menu{
     margin-top: 10px;
     text-align: center;
     
    
}


.item-nav-menu{
    text-decoration: none;
    border: black solid 1px;
    border-radius: 5px;
    margin-left: 20px ;
    margin-right: 20px;
    font-size: 0.9em;
    padding: 5px;
    text-align: center;
}

.data-home {
    text-align: center;
    border: black solid 1px;
    border-radius: 5px;

}

.Img-home{
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
    margin: auto;
}

.aboutMe{
    
    text-align: center;
    margin-top: 20px;
  
}

.info{
   display: inline-block;
   margin-right: auto;
   
}

.cont-aboutMe{
    display: inline-block;
    width: 750px;
}

.education{
  
}

#Scilab{
    color: black;
    
}

.home{
    border: black solid 2px;
    border-radius: 20px;
}